@import './styles'
*
*::before
*::after
  box-sizing border-box
  user-select none
body
  margin 0 auto
  padding 0
  width 100%
  max-width 480px
  background-color $color-background
a, button, input, textarea
  -webkit-tap-highlight-color rgba(0,0,0,0)

#app
  height 100vh
  -webkit-overflow-scrolling touch
