@import './styles'
*
*::before
*::after
  box-sizing border-box
  user-select none
body
  margin 0 auto
  padding 0
  width 100%
  max-width 480px
  background-color $color-background
#app
  height 100vh
