@import './styles'
*
*::before
*::after
  box-sizing border-box
  user-select none
body
  margin 0 auto
  padding 0
  width 100%
  max-width 480px
  background-color $color-grey-2
  color $color-grey-9
  font-size 12px
a, button, input, textarea
  -webkit-tap-highlight-color rgba(0,0,0,0)
p
  margin 0
  line-height 1.5
#app
  height 100vh
  -webkit-overflow-scrolling touch
  -webkit-font-smoothing: subpixel-antialiased; /* or antialiased; */
