.mask-bg
  position fixed
  left 0
  top 0
  width 100%
  bottom 0
  background-color rgba(0, 0, 0, .6)
  z-index 100

.scrollable
  overflow-x hidden
  overflow-y auto

.t-ellipsis
  overflow hidden
  white-space nowrap
  text-overflow ellipsis
