/**
 * 文字
 */
@import './variable.styl'
.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

.text-primary
  color $color-primary
.text-highlight
  color $color-highlight
.text-white
  color #fff
