/**
 * 文字
 */
@import './variable.styl'
.text-left
  text-align left
.text-center
  text-align center
.text-right
  text-align right

.text-primary
  color $color-primary
.text-highlight
  color $color-highlight
.text-default
  color $color-text-default
.text-secondary
  color $color-text-secondary
.text-grey
  color $color-text-grey
.text-disabled
  color $color-text-disabled
.text-white
  color #fff

.font-40
  font-size 40px
.font-32
  font-size 32px
.font-28
  font-size 28px
.font-24
  font-size 24px
.font-20
  font-size 20px
